/*
 * FDX V5.0
 * Financial Data Exchange V5.0 Core API
 *
 * OpenAPI spec version: 5.0.0
 * Contact: fdxsupport@financialdataexchange.org
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.io.File;
import org.threeten.bp.LocalDate;
import io.swagger.client.model.Transactions;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AccountTransactionsApi {
    private ApiClient apiClient;

    public AccountTransactionsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AccountTransactionsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getAccountTransactionImages
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param imageId Image Identifier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAccountTransactionImagesCall(String authorization, String accountId, String imageId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/accounts/{accountId}/transaction-images/{imageId}"
            .replaceAll("\\{" + "accountId" + "\\}", apiClient.escapeString(accountId.toString()))
            .replaceAll("\\{" + "imageId" + "\\}", apiClient.escapeString(imageId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/pdf", "image/gif", "image/jpeg", "image/tiff", "image/png"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAccountTransactionImagesValidateBeforeCall(String authorization, String accountId, String imageId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling getAccountTransactionImages(Async)");
        }
        // verify the required parameter 'accountId' is set
        if (accountId == null) {
            throw new ApiException("Missing the required parameter 'accountId' when calling getAccountTransactionImages(Async)");
        }
        // verify the required parameter 'imageId' is set
        if (imageId == null) {
            throw new ApiException("Missing the required parameter 'imageId' when calling getAccountTransactionImages(Async)");
        }
        
        com.squareup.okhttp.Call call = getAccountTransactionImagesCall(authorization, accountId, imageId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get account transaction image
     * Get account transaction image
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param imageId Image Identifier (required)
     * @return File
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public File getAccountTransactionImages(String authorization, String accountId, String imageId) throws ApiException {
        ApiResponse<File> resp = getAccountTransactionImagesWithHttpInfo(authorization, accountId, imageId);
        return resp.getData();
    }

    /**
     * Get account transaction image
     * Get account transaction image
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param imageId Image Identifier (required)
     * @return ApiResponse&lt;File&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<File> getAccountTransactionImagesWithHttpInfo(String authorization, String accountId, String imageId) throws ApiException {
        com.squareup.okhttp.Call call = getAccountTransactionImagesValidateBeforeCall(authorization, accountId, imageId, null, null);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get account transaction image (asynchronously)
     * Get account transaction image
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param imageId Image Identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAccountTransactionImagesAsync(String authorization, String accountId, String imageId, final ApiCallback<File> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAccountTransactionImagesValidateBeforeCall(authorization, accountId, imageId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for searchForAccountTransactions
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param startTime Start time for use in retrieval of elements (ISO 8601) (optional)
     * @param endTime End time for use in retrieval of elements (ISO 8601) (optional)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call searchForAccountTransactionsCall(String authorization, String accountId, LocalDate startTime, LocalDate endTime, String offset, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/accounts/{accountId}/transactions"
            .replaceAll("\\{" + "accountId" + "\\}", apiClient.escapeString(accountId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (startTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("startTime", startTime));
        if (endTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("endTime", endTime));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call searchForAccountTransactionsValidateBeforeCall(String authorization, String accountId, LocalDate startTime, LocalDate endTime, String offset, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling searchForAccountTransactions(Async)");
        }
        // verify the required parameter 'accountId' is set
        if (accountId == null) {
            throw new ApiException("Missing the required parameter 'accountId' when calling searchForAccountTransactions(Async)");
        }
        
        com.squareup.okhttp.Call call = searchForAccountTransactionsCall(authorization, accountId, startTime, endTime, offset, limit, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Search for account transactions
     * Search for account transactions. Example: /accounts/{accountId}/transactions?startTime&#x3D;value1&amp;endTime&#x3D;value2
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param startTime Start time for use in retrieval of elements (ISO 8601) (optional)
     * @param endTime End time for use in retrieval of elements (ISO 8601) (optional)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @return Transactions
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Transactions searchForAccountTransactions(String authorization, String accountId, LocalDate startTime, LocalDate endTime, String offset, Integer limit) throws ApiException {
        ApiResponse<Transactions> resp = searchForAccountTransactionsWithHttpInfo(authorization, accountId, startTime, endTime, offset, limit);
        return resp.getData();
    }

    /**
     * Search for account transactions
     * Search for account transactions. Example: /accounts/{accountId}/transactions?startTime&#x3D;value1&amp;endTime&#x3D;value2
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param startTime Start time for use in retrieval of elements (ISO 8601) (optional)
     * @param endTime End time for use in retrieval of elements (ISO 8601) (optional)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @return ApiResponse&lt;Transactions&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Transactions> searchForAccountTransactionsWithHttpInfo(String authorization, String accountId, LocalDate startTime, LocalDate endTime, String offset, Integer limit) throws ApiException {
        com.squareup.okhttp.Call call = searchForAccountTransactionsValidateBeforeCall(authorization, accountId, startTime, endTime, offset, limit, null, null);
        Type localVarReturnType = new TypeToken<Transactions>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search for account transactions (asynchronously)
     * Search for account transactions. Example: /accounts/{accountId}/transactions?startTime&#x3D;value1&amp;endTime&#x3D;value2
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param startTime Start time for use in retrieval of elements (ISO 8601) (optional)
     * @param endTime End time for use in retrieval of elements (ISO 8601) (optional)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call searchForAccountTransactionsAsync(String authorization, String accountId, LocalDate startTime, LocalDate endTime, String offset, Integer limit, final ApiCallback<Transactions> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = searchForAccountTransactionsValidateBeforeCall(authorization, accountId, startTime, endTime, offset, limit, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Transactions>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
