/*
 * FDX V5.0
 * Financial Data Exchange V5.0 Core API
 *
 * OpenAPI spec version: 5.0.0
 * Contact: fdxsupport@financialdataexchange.org
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Error;
import java.io.File;
import org.threeten.bp.LocalDate;
import io.swagger.client.model.Statements;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AccountStatementsApi {
    private ApiClient apiClient;

    public AccountStatementsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AccountStatementsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getAccountStatement
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param statementId Statement Identifier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAccountStatementCall(String authorization, String accountId, String statementId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/accounts/{accountId}/statements/{statementId}"
            .replaceAll("\\{" + "accountId" + "\\}", apiClient.escapeString(accountId.toString()))
            .replaceAll("\\{" + "statementId" + "\\}", apiClient.escapeString(statementId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/pdf", "image/gif", "image/jpeg", "image/tiff", "image/png", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAccountStatementValidateBeforeCall(String authorization, String accountId, String statementId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling getAccountStatement(Async)");
        }
        // verify the required parameter 'accountId' is set
        if (accountId == null) {
            throw new ApiException("Missing the required parameter 'accountId' when calling getAccountStatement(Async)");
        }
        // verify the required parameter 'statementId' is set
        if (statementId == null) {
            throw new ApiException("Missing the required parameter 'statementId' when calling getAccountStatement(Async)");
        }
        
        com.squareup.okhttp.Call call = getAccountStatementCall(authorization, accountId, statementId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get an account statement
     * Gets an account statement image file. Use [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) to specify desired content types. See ContentTypes definition for typical values
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param statementId Statement Identifier (required)
     * @return File
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public File getAccountStatement(String authorization, String accountId, String statementId) throws ApiException {
        ApiResponse<File> resp = getAccountStatementWithHttpInfo(authorization, accountId, statementId);
        return resp.getData();
    }

    /**
     * Get an account statement
     * Gets an account statement image file. Use [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) to specify desired content types. See ContentTypes definition for typical values
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param statementId Statement Identifier (required)
     * @return ApiResponse&lt;File&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<File> getAccountStatementWithHttpInfo(String authorization, String accountId, String statementId) throws ApiException {
        com.squareup.okhttp.Call call = getAccountStatementValidateBeforeCall(authorization, accountId, statementId, null, null);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get an account statement (asynchronously)
     * Gets an account statement image file. Use [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) to specify desired content types. See ContentTypes definition for typical values
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param statementId Statement Identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAccountStatementAsync(String authorization, String accountId, String statementId, final ApiCallback<File> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAccountStatementValidateBeforeCall(authorization, accountId, statementId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for searchForAccountStatements
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param startTime Start time for use in retrieval of elements (ISO 8601) (optional)
     * @param endTime End time for use in retrieval of elements (ISO 8601) (optional)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call searchForAccountStatementsCall(String authorization, String accountId, LocalDate startTime, LocalDate endTime, String offset, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/accounts/{accountId}/statements"
            .replaceAll("\\{" + "accountId" + "\\}", apiClient.escapeString(accountId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (startTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("startTime", startTime));
        if (endTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("endTime", endTime));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call searchForAccountStatementsValidateBeforeCall(String authorization, String accountId, LocalDate startTime, LocalDate endTime, String offset, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling searchForAccountStatements(Async)");
        }
        // verify the required parameter 'accountId' is set
        if (accountId == null) {
            throw new ApiException("Missing the required parameter 'accountId' when calling searchForAccountStatements(Async)");
        }
        
        com.squareup.okhttp.Call call = searchForAccountStatementsCall(authorization, accountId, startTime, endTime, offset, limit, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Search for statements
     * Get account statements. Example: GET /accounts/{accountId}/statements?startTime&#x3D;value1&amp;endTime&#x3D;value2
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param startTime Start time for use in retrieval of elements (ISO 8601) (optional)
     * @param endTime End time for use in retrieval of elements (ISO 8601) (optional)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @return Statements
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Statements searchForAccountStatements(String authorization, String accountId, LocalDate startTime, LocalDate endTime, String offset, Integer limit) throws ApiException {
        ApiResponse<Statements> resp = searchForAccountStatementsWithHttpInfo(authorization, accountId, startTime, endTime, offset, limit);
        return resp.getData();
    }

    /**
     * Search for statements
     * Get account statements. Example: GET /accounts/{accountId}/statements?startTime&#x3D;value1&amp;endTime&#x3D;value2
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param startTime Start time for use in retrieval of elements (ISO 8601) (optional)
     * @param endTime End time for use in retrieval of elements (ISO 8601) (optional)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @return ApiResponse&lt;Statements&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Statements> searchForAccountStatementsWithHttpInfo(String authorization, String accountId, LocalDate startTime, LocalDate endTime, String offset, Integer limit) throws ApiException {
        com.squareup.okhttp.Call call = searchForAccountStatementsValidateBeforeCall(authorization, accountId, startTime, endTime, offset, limit, null, null);
        Type localVarReturnType = new TypeToken<Statements>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search for statements (asynchronously)
     * Get account statements. Example: GET /accounts/{accountId}/statements?startTime&#x3D;value1&amp;endTime&#x3D;value2
     * @param authorization Access token for authentication and authorization (required)
     * @param accountId Account Identifier (required)
     * @param startTime Start time for use in retrieval of elements (ISO 8601) (optional)
     * @param endTime End time for use in retrieval of elements (ISO 8601) (optional)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call searchForAccountStatementsAsync(String authorization, String accountId, LocalDate startTime, LocalDate endTime, String offset, Integer limit, final ApiCallback<Statements> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = searchForAccountStatementsValidateBeforeCall(authorization, accountId, startTime, endTime, offset, limit, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Statements>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
