/*
 * FDX V5.0
 * Financial Data Exchange V5.0 Core API
 *
 * OpenAPI spec version: 5.0.0
 * Contact: fdxsupport@financialdataexchange.org
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.RewardCategories;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RewardProgramCategoriesApi {
    private ApiClient apiClient;

    public RewardProgramCategoriesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RewardProgramCategoriesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getRewardProgramCategories
     * @param authorization Access token for authentication and authorization (required)
     * @param rewardProgramId Reward Program Identifier (required)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getRewardProgramCategoriesCall(String authorization, String rewardProgramId, String offset, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/reward-programs/{rewardProgramId}/categories"
            .replaceAll("\\{" + "rewardProgramId" + "\\}", apiClient.escapeString(rewardProgramId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getRewardProgramCategoriesValidateBeforeCall(String authorization, String rewardProgramId, String offset, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling getRewardProgramCategories(Async)");
        }
        // verify the required parameter 'rewardProgramId' is set
        if (rewardProgramId == null) {
            throw new ApiException("Missing the required parameter 'rewardProgramId' when calling getRewardProgramCategories(Async)");
        }
        
        com.squareup.okhttp.Call call = getRewardProgramCategoriesCall(authorization, rewardProgramId, offset, limit, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get reward categories
     * Get reward categories
     * @param authorization Access token for authentication and authorization (required)
     * @param rewardProgramId Reward Program Identifier (required)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @return RewardCategories
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RewardCategories getRewardProgramCategories(String authorization, String rewardProgramId, String offset, Integer limit) throws ApiException {
        ApiResponse<RewardCategories> resp = getRewardProgramCategoriesWithHttpInfo(authorization, rewardProgramId, offset, limit);
        return resp.getData();
    }

    /**
     * Get reward categories
     * Get reward categories
     * @param authorization Access token for authentication and authorization (required)
     * @param rewardProgramId Reward Program Identifier (required)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @return ApiResponse&lt;RewardCategories&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RewardCategories> getRewardProgramCategoriesWithHttpInfo(String authorization, String rewardProgramId, String offset, Integer limit) throws ApiException {
        com.squareup.okhttp.Call call = getRewardProgramCategoriesValidateBeforeCall(authorization, rewardProgramId, offset, limit, null, null);
        Type localVarReturnType = new TypeToken<RewardCategories>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get reward categories (asynchronously)
     * Get reward categories
     * @param authorization Access token for authentication and authorization (required)
     * @param rewardProgramId Reward Program Identifier (required)
     * @param offset Opaque cursor used by the provider to send the next set of records (optional)
     * @param limit Number of elements that the consumer wishes to receive. Providers should implement reasonable default and maximum values (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getRewardProgramCategoriesAsync(String authorization, String rewardProgramId, String offset, Integer limit, final ApiCallback<RewardCategories> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getRewardProgramCategoriesValidateBeforeCall(authorization, rewardProgramId, offset, limit, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RewardCategories>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
